<!-- Perfil do Usuário -->
<nav class="d-flex align-items-center justify-content-between mb-3 p-3 bg-white rounded shadow-sm sticky-top">
    <div class="d-flex align-items-center">
        <img src="https://www.otempo.com.br/content/dam/otempo/editorias/entretenimento/filmes-e-series/2024/1/entretenimento-todo-mundo-se-apaixonou-por-esses-personagens-de-anime-em-2023-1713498773.jpeg" alt="Foto do usuário" class="rounded-circle me-3" width="48" height="48">
        <div>
        <h6 class="mb-0">{{usuario.Nome}}</h6>
        <small class="text-muted">Aluno ativo</small>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-secondary btn-sm">
        <i class="bi bi-gear"></i> Configurações
        </button>
    </div>
    <div>
        <form action="/Formulario" method="get">
        <button class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-gear"> Evolucao</i>
        </button>
        </form>
    </div>
        <div>
        <form action="/dados-corporais" method="get">
        <button class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-gear"> dadosCorporais</i>
        </button>
        </form>
    </div>
    <div>
        <form action="/Habitos_Formulario" method="get">
        <button class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-gear"> Habito formulario</i>
        </button>
        </form>
    </div>
    <div>
        <form action="/RegistrarMedidas" method="get">
        <button class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-gear"> Medidas</i>
        </button>
        </form>
    </div>
    <div>
        <form action="/Logout" method="get">
        <button class="btn btn-outline-secondary btn-sm">
            <i class="bi bi-gear"> Logaout</i>
        </button>
        </form>
    </div>     
</nav>