<h2>Cadastro de Dados Corporais</h2>

<form action="/CadastrarDadosCorporais" method="POST">
  <label for="Bra_Con_Di">Braço Direito Contraído:</label>
  <input type="number" step="0.01" min="0" name="Bra_Con_Di" id="Bra_Con_Di" placeholder="Ex: 35.5">
    <br>
  <label for="Bra_Con_Es">Braço Esquerdo Contraído:</label> 
  <input type="number" step="0.01" min="0" name="Bra_Con_Es" id="Bra_Con_Es" placeholder="Ex: 34.8">
    <br>
  <label for="Bra_Rx_Di">Braço Relaxado Direito:</label>
  <input type="number" step="0.01" min="0" name="Bra_Rx_Di" id="Bra_Rx_Di" placeholder="Ex: 33.2">
<br>
  <label for="Bra_Rx_Es">Braço Relaxado Esquerdo:</label>
  <input type="number" step="0.01" min="0" name="Bra_Rx_Es" id="Bra_Rx_Es" placeholder="Ex: 32.9">
<br>
  <label for="Cx_Di">Coxa Direita:</label>
  <input type="number" step="0.01" min="0" name="Cx_Di" id="Cx_Di" placeholder="Ex: 52.0">
<br>
  <label for="Cx_Es">Coxa Esquerda:</label>
  <input type="number" step="0.01" min="0" name="Cx_Es" id="Cx_Es" placeholder="Ex: 51.5">
<br>
  <label for="Pt_Di">Panturrilha Direita:</label>
  <input type="number" step="0.01" min="0" name="Pt_Di" id="Pt_Di" placeholder="Ex: 38.0">
<br>
  <label for="Pt_Es">Panturrilha Esquerda:</label>
  <input type="number" step="0.01" min="0" name="Pt_Es" id="Pt_Es" placeholder="Ex: 37.5">
<br>
  <label for="Peitoral">Peitoral:</label>
  <input type="number" step="0.01" min="0" name="Peitoral" id="Peitoral" placeholder="Ex: 98.4">
<br>
  <label for="Abdomen">Abdômen:</label>
  <input type="number" step="0.01" min="0" name="Abdomen" id="Abdomen" placeholder="Ex: 88.0">
<br>
  <label for="Gluteo">Glúteo:</label>
  <input type="number" step="0.01" min="0" name="Gluteo" id="Gluteo" placeholder="Ex: 100.0">
<br>
  <label for="Quadril">Quadril:</label>
  <input type="number" step="0.01" min="0" name="Quadril" id="Quadril" placeholder="Ex: 96.3">
<br>
  <button type="submit">Salvar Dados Corporais</button>
</form>